<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br />
    <br />
    <h1>Login</h1>


    <form method="POST">{% csrf_token %}
        
    <!-- form variable -->    
        {{ form.as_p }} 

            <input type="submit" name="sumbit">
    </form>
        {% comment %} <br /><br />
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success">Login</button>
            <a href="{% url 'home' %}" class="btn btn-danger">Back</a>
    </div> {% endcomment %}
</body>
</html>